<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados</title>
</head>
<body>
    <form action="searchData" method="post">
        <input type="text" name="nome" id="nome" placeholder="Digite seu nome">
        <br><br>

        <button>Consultar</button>
    </form>

        
</body>
</html>