<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contabilidade</title>
    <link rel="stylesheet" href="/estilo.css"></link>
</head>
<body>
    <div class="box-nav">
        <a href="/searchData">
            <h5 id="head">Seus dados já cadastrados</h5>
        </a>
        <h1 id="con">Contabilidade</h1>
    </div>

    

    <div class="box">
    <form action="/pageSend" method="POST">
        <input type="text" name="nome" id="nome" placeholder="login">
        <br><br>
        <input type="text" name="tipo" id="tipo" placeholder="tipo">
        <br><br>
        <input type="text" name="credito" id="credito" placeholder="crédito">
        <br><br>
        <input type="text" name="data" id="data" placeholder="data">
        <br><br>
        <input type="text" name="debito" id="debito" placeholder="debito">
        <br><br>
        <input type="text" name="motivo" id="motivo" placeholder="motivo">
        <br><br>
        
        <button type="submit"><h2>salvar</h2></button>
        
    </form>
    </div>
</body>
</html>