<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sucesso</title>
    <link rel="stylesheet" href="sucess.css">
</head>

<body>
    <script>
        setTimeout(() => {
            window.location.href = "/index"
        }, 1000);
    </script>

    <div class="box">
        <h1 id="h1">Login <%= login %> efetuado com sucesso</h1>

        <img id="img" src="/success-check-icon.svg" alt="imagem">


    </div>


</body>

</html>